.jumbotron {
  background-color: #EBAF4C;
  color: #fff;
  padding: 100px 25px;
}

.bg-light-blue {
  background-color: #91CEFF;
}

.container-fluid {
  padding: 60px 50px;
}

.logo {
  font-size: 200px;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.imagesize {
  width: 50px;
  heigth: auto;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  heigth: 100%;
  margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #EBAF4C;
}

.carosuel-indicators li {
  border-color: #EBAF4C;
}

.carousel-indicators li.active {
  background-color: #EBAF4C;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weigth: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}
