.jumbotron {
  background-color: #EBAF4C;
  color: #fff;
  padding: 100px 25px;
}

.bg-light-blue {
  background-color: #91CEFF;
}

.container-fluid {
  padding: 60px 50px;
}

.logo {
  font-size: 200px;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.imagesize {
  width: 50px;
  height: auto;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #EBAF4C;
}

.carosuel-indicators li {
  border-color: #EBAF4C;
}

.carousel-indicators li.active {
  background-color: #EBAF4C;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.panel {
  border: 1px solid #EBAF4C;
  border-radius: 0;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
  border: 1px solid #EBAF4C;
  background-color: #fff !important;
  color: #EBAF4C;
}

.panel-heading {
  color: #fff !important;
  background-color: #EBAF4C !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-footer {
  background-color: #fff !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: #EBAF4C:
  color: #fff
}